html {
    background-color: rgb(66, 138, 56);
}

* {
    margin: 0px;
    padding: 0px;
}

#app {
    text-align: center;
}

#title {
    font-size: 3em;
    ;
    text-align: center;
    color: rgb(255, 255, 255);
}

button {
    margin-left: auto;
    margin-right: auto;
}

#avg {
    font-size: 20px;
    padding: 10px;
    margin-right: 10px;
}

#difficult {
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
}

.norm {
    display: block;
}

.hard {
    display: none;
}

.hard .cell {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: azure;
    border: 1px slategray solid;
}

.cell {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: azure;
    border: 1px slategray solid;
}

.cell.open {
    background-color: rgb(180, 147, 106);
}

.cell.flag {
    background-color: rgb(177, 54, 54)
}